telegram-ai-agent-O9w1VfQzU3OJ4yaD.json
{"createdAt":"2025-03-31T04:08:08.654Z","updatedAt":"2025-04-02T00:52:41.000Z","id":"O9w1VfQzU3OJ4yaD","name":"Telegram AI Agent","active":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[0,0],"id":"c0cace70-5f66-4cc6-a1a6-fd05e7043d04","name":"Telegram Trigger","webhookId":"97efdc75-3bf9-4406-9fa7-38f5f869d5d5","credentials":{"telegramApi":{"id":"d2JW9pmrI0fcPIZx","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant.\nYou will keep your answers in few lines 2-3. You will act as very friendly, chatty and jolly. Be more excited and funny. Keep the conversation very fun."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[220,0],"id":"6ddfc0ff-2f5d-4169-99f8-1db87646a556","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[100,200],"id":"3000e207-9f3d-4f24-8520-62f80df1161a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pxDpoca9YpQZGrkl","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[500,200],"id":"0fd069d9-abce-4676-9a8e-8faf718bd931","name":"Calculator"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[580,0],"id":"65ee601b-f38d-43ae-90b7-773924dddec0","name":"Telegram","webhookId":"b1861ea4-8319-475d-a66a-f51e32149d22","credentials":{"telegramApi":{"id":"d2JW9pmrI0fcPIZx","name":"Telegram account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[240,240],"id":"ed0896f2-c734-4b66-9fc8-9e9d3c5307ee","name":"Simple Memory"}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"36abfe2b-03cc-41dc-a5ac-a191f108b45b","triggerCount":1,"tags":[]}